<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h3>Dernières transactions (en attente: <%= @counters[:transactions] %>)</h3>
    <%= render 'transactions/table', transactions: @recent_transactions, admin: true %>
  </div>
  <div class="col-md-4">
    <div class="col-md-10">
      <h3>Dernières comptes (actives total: <%=@counters[:accounts]%>) </h3>
      <%= render 'accounts/table', accounts: @recent_accounts, admin: true %>
    </div>
  </div>
  <div class="col-md-2">
    <h3>Dernières utilisateurs (total: <%=@counters[:users]%>)</h3>
    <%= render 'users/table', users: @recent_users, admin: true %>
  </div>
</div>