<div class="row">
  <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-0">
    <h3>
      <%= link_to "Dernières transactions (en attente: #{@counters[:transactions]})", transactions_path %>
    </h3>
    <%= render 'transactions/table', transactions: @recent_transactions, admin: true %>
  </div>
  <div class="col-lg-4 col-md-6 col-md-offset-0">
    <div class="col-lg-10 col-md-12">
      <h3>
        <%= link_to "Dernières comptes (actives total: #{@counters[:accounts]})", recent_accounts_path %>
       </h3>
      <%= render 'accounts/table', accounts: @recent_accounts, admin: true %>
    </div>
  </div>
  <div class="col-lg-2 col-md-4">
    <h3>
      <%= link_to "Dernières utilisateurs (total: #{@counters[:users]})", users_path %>
    </h3>
    <%= render 'users/table', users: @recent_users, admin: true %>
  </div>
</div>