<%= bootstrap_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :title, options_for_select(User.titles.map{|t| t[0] }), label: 'Civlité'  %>
  </div>
  <div class="field">
    <%= f.text_field :name, maxlength: 15, label: 'Prénom'  %>
  </div>
  <div class="field">
    <%= f.text_field :surname, label: 'Nom' %>
  </div>
  <div class="field">
    <%= f.date_field :birth_date, placeholder: 'YYYY-MM-DD', label: 'Date de naissance'  %>
  </div>
  <div class="field">
    <%= f.text_field :city, label: 'Ville'  %>
  </div>
  <div class="field">
    <%= f.collection_select :income_bracket_id, IncomeBracket.all,
                            :id, :to_s, prompt: 'Choisissez revenu', label: 'Revenu'  %>
  </div>
  <div class="field">
    <%= f.password_field :password, label: 'Mot de passe' %>
  </div>
  <div class="actions row">
    <div class="col-md-5">
    <%= f.submit 'Ok', class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 text-right">
      <%= link_to 'Annuler', "history.back()", class: "btn btn-warning btn-block" %></p>
    </div>
  </div>
<% end %>