<div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2">
    <h3><%= @user.name_with_title %></h3>
    <div class="mini-margin-bar"></div>
    <table class="table">
      <tbody>
      <tr>
        <td>Civilité : </td>
        <td><%= @user. title%></td>
      </tr>
      <tr>
        <td>Nom : </td>
        <td><%= @user.surname %></td>
      </tr>

      <tr>
        <td>Prénom : </td>
        <td><%= @user.name%></td>
      </tr>

      <tr>
        <td>Date de naissance : </td>
        <td><%= @user.birth_date%></td>
      </tr>

      <tr>
        <td>Ville : </td>
        <td><%= @user.city %></td>
      </tr>
      <tr>
        <td>Revenu : </td>
        <td><%= @user.income_bracket %></td>
      </tr>

      </tbody>
    </table>
  <%= link_to 'Changer', edit_user_path(@user) %> |
  <%= link_to 'Retourner', users_path %>
</div>