<%= bootstrap_form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_select :account_id, @accounts.active,
                            :id, :rib, prompt: 'Choisissez compte',
                            label: 'Compte'
    %>
  </div>
  <div class="field">
    <%= f.collection_select :transaction_type, Transaction.transaction_types,
                            :first, :first, prompt: 'Choisissez type',
                            label: 'Type'
    %>
  </div>
  <div class="field">
    <%= f.number_field :amount,
                       label: 'Montant'
    %>
  </div>
    <div class="actions row">
      <div class="col-md-5">
        <%= f.submit 'Créer', class: "btn btn-primary btn-block" %>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 text-right">
        <%= link_to 'Annuler', "history.back()", class: "btn btn-warning btn-block" %></p>
      </div>
    </div>
<% end %>
