<% admin_view = local_assigns[:admin]||false  %>
<% end_cols   = admin_view == true ? 2 : 1 %>
<% transactions = local_assigns[:transactions]||@transactions %>
<table class="table table-striped table-responsive table-hover">
  <thead>
  <tr>
    <th>Compte</th>
    <th>Montant</th>
    <th>Type</th>
    <th>Dernière action</th>
    <% if admin_view %>
        <th>Admin</th>
    <% end %>
    <th>Status</th>
    <th colspan="<%= end_cols %>"></th>
  </tr>
  </thead>

  <tbody>
  <% transactions.each do |transaction| %>
      <tr data-link="<%= transaction_path(transaction) %>"
          class="<%= 'clickable' << (transaction.transaction_type == 'credit' ? ' danger':'') %>">
        <td>
          <%= admin_view ? transaction.account.number : transaction.account.rib %>
        </td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.managed_at.strftime("%m/%d %H:%M") unless transaction.managed_at.nil? %></td>
        <% if admin_view  %>
        <td><%= transaction.admin.username if !transaction.admin.nil? %></td>
        <% end %>
        <td><%= image_tag ApplicationHelper::STATE_MAP[transaction.status], class: 'icon' %></td>
        <% if admin_view and transaction.waiting? %>
            <td><%= link_to '✔', accept_transaction_url(id: transaction.id),
                             method: :post %></td>
            <td><%= link_to '✖', refuse_transaction_url(id: transaction.id),
                            data: { confirm: 'Are you sure?', method: :post } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>