<% if session[:user_id] %>
  <% uid = session[:user_id] %>
  <li class="<%= 'active' if current_page?(dashboard_path) %>">
    <%= link_to 'Dashboard', dashboard_path %>
  </li>
  <li class="<%= 'active' if current_page?(controller: 'accounts') %>">
    <%= link_to 'Mes comptes', accounts_path%>
  </li>
    <li class="<%= 'active' if current_page?(controller: 'users') %>">
      <%= link_to User.find(uid).name_with_title, user_path(uid)%>
    </li>

    <li> <%= link_to('Log out', logout_path) %> </li>
<% end %>
<% if session[:admin_id] %>
    <li class="<%= 'active' if current_page?(admins_index_path) %>">
      <%= link_to 'Admin dashboard', admins_index_path %>
    </li>
    <li class="<%= 'active' if current_page?(controller: 'transactions') %>">
      <%= link_to 'Transactions', transactions_path %>
    </li>
    <li class="<%= 'active' if current_page?(controller: 'users') %>">
      <%= link_to 'Utilisateurs', users_path %>
    </li>
    <li> <%= link_to('Admin log out', admin_logout_path) %> </li>
<% elsif !session[:user_id] %>
    <li class="active">
      <%= link_to 'Home', root_path %>
    </li>
<% end %>