<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banque</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navbar' %>
  </header>


  <main role="main" class="fill">
    <div class="container-fluid fill" role="main">
      <%= flash_messages %>
      <div class="margin-bar">&nbsp;</div>
      <%= yield %>
    </div>
  </main>
</body>
</html>