<% admin_view = local_assigns[:admin]||false  %>
<% end_cols   = admin_view == true ? 1 : 0 %>
<% accounts = local_assigns[:accounts]||@accounts %>
<table class="table table-striped table-responsive table-hover">
  <thead>
  <tr>
    <th>RIB</th>
    <th>Solde</th>
    <th>Status</th>
    <th colspan="<%= end_cols %>"></th>
  </tr>
  </thead>

  <tbody>
  <% accounts.each do |account| %>
      <tr data-link="<%= account_path(account) %>"
          class="<%= 'clickable' << (account.balance < 0 ? ' danger':'') %>">
        <td><%= account.number %></td>
        <td><%= number_to_currency(account.balance) %></td>
        <td><%= image_tag ApplicationHelper::STATE_MAP[account.status], class: 'icon' %></td>
        <% if admin_view %>
            <td>
              <%= link_to 'Activer', activate_account_url(id: account.id),
                          method: :post if !account.active? %>
              <%= link_to 'Fermer',
                          close_account_url(id: account.id),
                          method: :post, data: { confirm: 'Are you sure?' } if account.active? %>
            </td>
        <% else %>
            <td><%= link_to 'Supprimer', account, method: :delete, data: { confirm: 'Supprimer compte?' } if account.deletable? %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>