<% admin_view = local_assigns[:admin]||false  %>
<% end_cols   = admin_view == true ? 3 : 2 %>
<% accounts = local_assigns[:accounts]||@accounts %>
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>RIB</th>
    <th>Solde</th>
    <th>Status</th>
    <th colspan="<%= end_cols %>"></th>
  </tr>
  </thead>

  <tbody>
  <% accounts.each do |account| %>
      <tr <%= 'class="danger"' if account.balance < 0 %> >
        <td><%= account.rib %></td>
        <td><%= account.balance%></td>
        <td><%= account.status %></td>
        <td><%= link_to 'Details', account %></td>
        <% if admin_view %>
            <td>
              <%= link_to '✔', action: activate, id: account.id if !account.active? %>
            </td>
            <td>
              <%= link_to 'Fermer', action: close, id: account.id,
                          data: { confirm: 'Are you sure?' } if !account.closed? %>
            </td>
        <% else %>
            <td><%= link_to '✖', account, method: :delete, data: { confirm: 'Delete account?' } if account.deletable? %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>