<div class="col-md-6 col-md-offset-3 row">
  <h3>Compte</h3>
  <div class="mini-margin-bar"></div>
  <%= link_to 'Imprimer RIB', print_rib_account_path %>
  <div class="mini-margin-bar"></div>
  <table class="table">
  <tbody>
  <tr>
    <td>Propriétaire: </td>
    <td><%= @account.user.name_with_title %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>RIB: </td>
    <td><%= @account.rib %></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>status: </td>
    <td><%= @account.status %></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Balance: </td>
    <td><%= @account.balance %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Status: </td>
    <td><%= @account.status %></td>
    <td>
      <%= link_to 'Activer',
                  activate_account_path(@account) if session[:admin_id] and !@account.active? %>
    </td>
    <td>
      <%= link_to 'Fermer',
                  close_account_path(@account) if session[:admin_id] and !@account.closed? %>
    </td>
  </tr>
    </tbody>
  </table>
  <div class="mini-margin-bar"></div>
  <h3>Transactions: </h3>
  <%= render 'transactions/table', transactions: @account.transactions %>
  <%= paginate @transactions, :theme => 'twitter-bootstrap-3' %>
  <%= link_to 'Back', accounts_path %>
</div>
