<div class="col-md-6 col-md-offset-3">
  <p>
    <strong>RIB:</strong>
    <%= @account.rib %>
    <%= link_to 'Imprimer', print_rib_account_path %>
  </p>

  <p>
    <strong>status:</strong>
    <%= @account.status %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= @account.balance %>
  </p>
  <h3>Transactions:</h3>
  <%= render 'transactions/table', transactions: @account.transactions %>
  <%= paginate @transactions, :theme => 'twitter-bootstrap-3' %>
  <%= link_to 'Back', accounts_path %>
</div>
